################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/extra
/src/__pycache__/*
/mypackage.zip
/src/get_stack.py
/src/config.py
/src/mystack.json
